/*  your css code here. If applicable */
#container{
	margin:20px;
	padding:20px;
	display:flex;
}
#container::before {
    content: "Content Before";
    color: #f00;
    font-size: 20px;
    display: block;
    margin-top: 13px;
}
#container::after {
    content: "Content After";
    color: #f00;
    font-size: 20px;
    display: block;
    margin-top: 13px;
}